*{
  box-sizing: border-box;
}
body{
  background-image:url(https://static.vecteezy.com/system/resources/previews/001/959/920/large_2x/blurred-busy-restaurant-background-free-photo.JPG);
  background-size: 100%;
}
.fmenu{
  background-image:url(http://lea.verou.me/ft2010/img/darker_wood.jpg);
  background-size: 100%;
 }

.content{
  display: flex;
}

.contenedor_nav{
  margin-left: 60px;

}

img{
  margin-left: 190px;
  margin-top: 40px;  
} 

h1{
  color: orangered;
  font-family: 'Sofia';
  font-size: 50px;
  margin-left: 60px;
}

.contenedor_nav a {
  margin-left: 15px;
  margin-top: -20px;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 35px;
  font-family: 'Sofia';
}

.contenedor_nav a:hover {
  background-color:#FF4B00;
  color: black;
  border-radius: 30px;
}

.desprincipal{
  
  background-color: rgba(255, 68, 0, 0.616);
  border-radius: 20px;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin-left: 220px;
  color: white;
  font-family: 'Sofia';
  font-size: 25px;
 
}

.indexmenu{
  display: flex;
  color: orangered;
  justify-content: center;
  font-family: 'Sofia';
  font-size: 60px;
  margin-top: 0px;

}


.logomenu{
  display: flex;
  text-align: center;
  margin-bottom: 0%;
  position: relative;
  top: -45px;
  right:85px;
}

.menu{
  display: flex;
  color: orangered;
  font-family: 'Delius Unicase';
  font-size: 65px;
  position: relative;
  top:-100px;
  right:55px
}

.descripcion{
  display: flex;
  color: white;
  justify-content: center;
  font-family: 'Marck Script';
  font-size: 25px;
  position: relative;
  top: -100px;
  left: -400px;

}


.topnav .search-container {
  float: right;
  margin-top: -78px;
  right: -60px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border:none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Responsiveness */
@media screen and (max-width: 900px) {
  .topnav .search-container {
    float: none;
  }
  .body, .section, .section .articulo, .topnav a, .topnav input[type=text], .topnav .search-container button{
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

section{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 0%;
  }

.articulo{  
    background: #b44e26;
    height: 370px;
    width: 300px;
    border: 2px solid #1c1c1c;
    margin: 5px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    font-family: 'Sofia';
    font-size: 25px;
    position: relative;
    top: -100px;
}

footer {
  position: absolute;
  text-align: center;
  width: 100%;
  left:0px;
  bottom:0px;
  background: -webkit-linear-gradient(left, orangered, orangered);
  background: -moz-linear-gradient(left, orangered, orangered);
  background: linear-gradient(left, orangered, orangered);
  
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 15px 4px;
  position: relative;
  -webkit-transition-duration: 0.4s; 
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a:hover {
  color: #fff;
  opacity: 0.9;
  text-shadow: 2px 3px 5px #00d0ff;
  top: -3px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.chefs{
  float: left;
  position: relative;
  top: -300px;
  
}
.chef{
  margin: 5px;
  font-family: 'Marck Script';
  font-size: 35px;
  color: orangered;
  }

.logomenu{
  display: flex;
  text-align: center;
  margin-bottom: 0%;
  position: relative;
  top: -45px;
  right:85px;
}

.menu{
  display: flex;
  color: orangered;
  font-family: 'Delius Unicase';
  font-size: 65px;
  position: relative;
  top:-100px;
  right:55px
}

.descripcion{
  display: flex;
  color: white;
  justify-content: center;
  font-family: 'Marck Script';
  font-size: 25px;
  position: relative;
  top: -100px;
  left: -400px;

}

.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  right: 150px;
  
}

.topnav a {
  float: left;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Sofia';
  
}

.topnav a:hover {
  background-color:#FF4B00;
  color: black;
  border-radius: 30px;
}

.topnav .search-container {
  float: right;
  margin-top: -78px;
  right: -60px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border:none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Responsiveness */
@media screen and (max-width: 900px) {
  .topnav .search-container {
    float: none;
  }
  .body, .section, .section .articulo, .topnav a, .topnav input[type=text], .topnav .search-container button{
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

section{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 0%;
  }

.articulo{  
    background: #b44e26;
    height: 370px;
    width: 300px;
    border: 2px solid #1c1c1c;
    margin: 5px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    font-family: 'Sofia';
    font-size: 25px;
    position: relative;
    top: -100px;
}

footer {
  position: absolute;
  text-align: center;
  width: 100%;
  left:0px;
  bottom:0px;
  background: -webkit-linear-gradient(left, orangered, orangered);
  background: -moz-linear-gradient(left, orangered, orangered);
  background: linear-gradient(left, orangered, orangered);
  
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 15px 4px;
  position: relative;
  -webkit-transition-duration: 0.4s; 
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a:hover {
  color: #fff;
  opacity: 0.9;
  text-shadow: 2px 3px 5px #00d0ff;
  top: -3px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.chefs{
  float: left;
  position: relative;
  top: -300px;
  
}
.chef{
  margin: 5px;
  font-family: 'Marck Script';
  font-size: 35px;
  color: orangered;
  }


* {
    box-sizing: border-box;
}
  
.section_reservas{
    position:absolute;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
  
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
  
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
  
  input[type=submit]:hover {
  background-color: #45a049;
  }
  
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
  
.col-25 {
  width: 25%;
  margin-top: 6px;
}
  
.col-75 {
  width: 75%;
  margin-top: 6px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}