h1{
    text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
nav{
    /*outline: 1px solid yellow;*/
=======
* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #5f535346;
>>>>>>> parent of 32cb137 (Revert "principal")
}
=======
>>>>>>> parent of 557a91f (NavBar)

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: rgb(233, 146, 75);
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(8, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(233, 146, 75);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(123, 193, 250);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Style the input container */
.topnav .search-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button{
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
<<<<<<< HEAD
    background: dimgrey;
=======
<<<<<<< HEAD
>>>>>>> parent of 32cb137 (Revert "principal")
    line-height: 40px;
    text-align: center;
=======
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
>>>>>>> 557a91f398cb226309769abecf923e8ecfad04cb
}

<<<<<<< HEAD
li{
    /*outline:1px solid red;*/
    width: 100px;
    display: inline-block;
<<<<<<< HEAD
=======
}
=======
>>>>>>> parent of 32cb137 (Revert "principal")

<<<<<<< HEAD
a{
    /*outline: 1px solid green;*/
    text-decoration: none;
    display: block;
    color:white
}

.id{
    border: 1px solid black;
    height: 250px;
    width: 200px;
    padding: 45px;
    margin: 3px;
    display:inline-block;
    font-size: 10px;
    text-align: center;
    
}



.primero{
    
    background: #5DEAA8;
    height: 500px;
    width: 300px;
    margin-top: 10px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%
>>>>>>> parent of 557a91f (NavBar)
}

a{
    /*outline: 1px solid green;*/
    text-decoration: none;
    display: block;
    color:white
}

.id{
    border: 1px solid black;
    height: 250px;
    width: 200px;
    padding: 45px;
    margin: 3px;
    display:inline-block;
    font-size: 10px;
    text-align: center;
=======
.primero{
>>>>>>> 557a91f398cb226309769abecf923e8ecfad04cb
    
    background: #5DEAA8;
    height: 500px;
    width: 300px;
    margin-top: 10px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%
}

.segundo{
    
    background: #5DEAA8;
    height: 500px;
    width: 300px;
    margin-top: 10px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%
}
<<<<<<< HEAD
a:hover{
<<<<<<< HEAD
    color: orange;
    background-color:darkred;
=======
    color: black;
  
}
.principal{
    background-image:url(https://www.managementgourmet.com/wp-content/uploads/2019/02/RUYA-NEW-3-1080x675.jpg);
}

.titulo{
    color: white;
    text-align: center;
    text-justify: auto;
=======

.postre{
    
    background: #5DEAA8;
    height: 500px;
    width: 300px;
    margin-top: 10px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%
>>>>>>> 557a91f398cb226309769abecf923e8ecfad04cb
>>>>>>> parent of 32cb137 (Revert "principal")
}