h1{
    text-align: center;
}

nav{
    /*outline: 1px solid yellow;*/
}

ul{
    /*outline: 1px solid blue;*/
    list-style: none;
    padding: 0;
    margin: 0;
    background: dimgrey;
    line-height: 40px;
    text-align: center;
}

li{
    /*outline:1px solid red;*/
    width: 100px;
    display: inline-block;
}

a{
    /*outline: 1px solid green;*/
    text-decoration: none;
    display: block;
    color:white
}

.id{
    border: 1px solid black;
    height: 250px;
    width: 200px;
    padding: 45px;
    margin: 3px;
    display:inline-block;
    font-size: 10px;
    text-align: center;
    
}
a:hover{
    color: orange;
    background-color:darkred;
}