*{
  box-sizing: border-box;
  margin: 0;
}

/*Principal.html*/
body{
  background-image:url(./Imagenes/fondo_pag_rest.jpg);
  background-size: 100%;
}
/*imagen fondo pagina menú*/
.fmenu{
  background-image:url(http://lea.verou.me/ft2010/img/darker_wood.jpg);
  background-size: 100%;
 }

.content{
  background-color:#ecba78a1;
  display: flex;
  align-items: center;
}

.logo{
  margin-left: 40px;
}

.logo img{
  width: 70%; 
} 

h1{
  color:#7b592d;
  font-family: 'Sofia';
  font-size: 50px;
  margin-left: 50px;
}


.contenedor_nav{
  margin-top: 40px;
}
.contenedor_nav a {
  margin-left: 15px;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  color: #7b592d;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Sofia';
}

.contenedor_nav a:hover {
  background-color:#7b592d;
  color: black;
  border-radius: 30px;
}

/*Buscador*/
.buscador{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 180px;
  margin-top: 80px;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: #7b592d;
  border-radius: 30px;
}

.buscar_texto{
  border: none;
  background: none;
  outline: none;
  font-family: 'Sofia';
  color: #ecba78a1;
  font-size: 15px;
  transition: .3s;
  width: 0;
}

.boton{
  width: 20px;
  height: 20px;
  color: #ecba78a1;
  font-size: 19px;
  text-decoration: none;
}

.buscador:hover > .buscar_texto{
  width: 200px;
}

.desprincipal{
  background-color: #7b592d81;
  border-radius: 20px;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 320px;
  color: white;
  font-family: 'Sofia';
  font-size: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #ecba78a1;
  color:#644925;
}

.cp-text{
  margin-top: 40px;
  margin-left: 320px;
  margin-bottom: 10px;
}

.cp-text > p:last-child{
  text-align: center;
}
.contacto{
  margin-top: 15px;
  margin-left: 20px;
}

footer a{
  color: #644925;
  text-decoration: none;
}

.enlaces_footer{
  margin-top: 20px;
  margin-left: 340px;
}
.enlaces_footer a {
  display: inline-block;
  -webkit-transition-duration: 0.4s; 
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.enlaces_footer > a:hover {
  color: black;
  opacity: 0.9;
  text-shadow: 2px 3px 5px #644925;
  top: -3px;
}

/*FIN de Principal.html*/

.indexmenu{
  display: flex;
  color: orangered;
  justify-content: center;
  font-family: 'Sofia';
  font-size: 60px;
  margin-top: 0px;

}


.topnav .search-container {
  float: right;
  margin-top: -78px;
  right: -60px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border:none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Responsiveness */
@media screen and (max-width: 900px) {
  .topnav .search-container {
    float: none;
  }
  .body, .section, .section .articulo, .topnav a, .content, .buscador, .topnav input[type=text], .topnav .search-container button{
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/*Página menú*/
.pagmenu{
  display: flex;
  justify-content: center;
  flex-flow: column;   
}

.platos{
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}

.menu{
  color: orangered;
  font-family: 'Delius Unicase';
  font-size: 65px;
}

.descripcion{
  color: white;
  font-family: 'Marck Script';
  font-size: 25px;
}

.container{  
  background: #b44e26;
  height: 370px;
  width: 300px;
  border: 2px solid #1c1c1c;
  margin: 5px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  font-family: 'Sofia';
  font-size: 25px;  
}

.image {
  opacity: 1;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*Fin página menú*/

.chefs{
  float: left;
  position: relative;
  top: -300px;
  
}
.chef{
  margin: 5px;
  font-family: 'Marck Script';
  font-size: 35px;
  color: orangered;
  }

.formulario{
  background:#ecba78a1;
  color:#7b592d;
  width: 650px;
  height: 288px;
  font-size: 25px;
  text-align: center;
  margin: auto;
  margin-top: 45px;
  border-radius: 35px;
}  
h2{
  color:#7b592d;
  font-family:'Sofia';
  font-size: 42px;
}

